@font-face {
    font-family: 'Open Sans';
    src: local('MyFont'), url(./fonts/OpenSans-Bold.ttf) format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: local('MyFont'), url(./fonts/OpenSans-Regular.ttf) format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: local('MyFont'), url(./fonts/OpenSans-Medium.ttf) format('ttf');
    font-weight: 500;
}

body {
    font-family: 'Open Sans';
}

.container-people {
    width: 50%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
}

.block-people {
    background: #37B34A;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 0 15px;
    justify-content: space-between;
    cursor: pointer;
}

.block-people:hover {
    background: #23712e;
}

.emodji-people {
    margin-left: 5px;
}

.name-people {
    font-weight: 600;
    color: black;
    margin: 0;
}

.price-people {
    white-space: nowrap;
    font-weight: 600;
    color: black;
    margin: 0;
    margin-left: 10px;
}

.menu-people {
    margin-right: 10px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .button-delete {
    background: none;
    color: black;
    font-size: 16px;
    min-width: 50px;
    padding: 10px;
    border: 1px solid;
    margin-left: 15px;
}

.header .button-delete:hover {
    background: black;
    color: white;
}

.p-commnet {
    word-break: break-all;
}

.header-button {
    min-width: 100px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-create {
    background: #37B34A;
    margin-right: 20px;
}

.button-create:hover {
    background: #21702d;
}

.toggle-sort-block label {
    cursor: pointer;
}

.button-delete {
    background: #F01900;
}

.people-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.general-block {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.p-general {
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 10px 15px;
}

.active-people {
    background: #FF6900;
}

.active-people:hover {
    background: #b14b02 !important;
}

#login-button {
    margin-top: 20px;
    display: block;
}

.login-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.create-modal {
    padding: 50px;
    background: #000000d2;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 10;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.title-create {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.label-name-people {
    color: white;
}

.modal span {
    color: white;
    margin-bottom: 5px;
}

.modal input,
.modal textarea {
    margin-bottom: 25px;
}

.modal textarea {
    min-height: 100px;
}

.inputs-modal {
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    color: #FF6900;
    font-weight: 700;
}

.inputs-modal-emodji {
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    color: #FF6900;
    font-weight: 700;
}

.big-ruble {
    font-size: 24px;
}

.p-name {
    margin: 0 0 15px 0;
    font-size: 24px;
    color: #FF6900;
    max-width: 300px;
}

.width-container {
    width: 100%;
}

.sort-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.p-sort {
    margin: 0 15px;
}

.login-text {
    font-size: 18px;
    font-weight: 500;
    color: #FF6900;
    margin: 10px 0;
}

.p-active {
    display: block;
    width: 100%;
    height: 10px;
    font-weight: 600;
    margin-left: 15px;
    font-size: 24px;
}

.header .button-create {
    margin-right: 15px !important;
}

.input-login {
    border: 1px solid rgba(0, 0, 0, 0.475);
    border-radius: 10px;
    height: 25px;
    padding: 5px;
    font-size: 16px;
}

#login-button {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    height: 35px;
    width: 80px;
    background: #FF6900;
    color: white;
    cursor: pointer;
}

.refresh-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #FF6900;
    margin-right: 20px;
    cursor: pointer;
}

.refresh-button:hover {
    background: #b24b02;
}

#login-button:hover {
    background: #b24b02;
}

#password {
    -webkit-text-security: disc;
    text-security: disc;
}

@media (max-width: 600px) {
    .container-people {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-people {
        width: 33%;
    }
}


/* Переключатель IOS */

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].ios8-switch+label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}

input[type="checkbox"].ios8-switch+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    /* x*5 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px;
    /* x*3 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch:checked+label:after {
    margin-left: 16px;
}

input[type="checkbox"].ios8-switch:checked+label:before {
    background: #55D069;
}


/* END Переключатель IOS */